
@{
    ViewBag.Title = "";
}

<h2>Підтвердіть обліковий запис</h2>

<div>
    <span>
        На Ваш обліковий запис було надіслано лист. Перейдіть за посиланням у ньому для активації облікового запису.
    </span>
</div>