@model ExPhO.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div ng-app="Registration">
    <div ui-view></div>
</div>

@section Scripts {
    <script src="/js/registration/registration.module.js"></script>
    <script src="/js/registration/registration.service.js"></script>
    <script src="/js/registration/commonInfo/commonInfo.directive.js"></script>
    <script src="/js/registration/roleStep.controller.js"></script>
    <script src="/js/registration/info.controller.js"></script>
    <script src="/js/registration/jury.controller.js"></script>
    <script src="/js/registration/learner.controller.js"></script>
    <script src="/js/registration/teacher.controller.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
