<div class="additionalInfo">
    <div class="input-group">
        <label for="name" class="input-group-addon" translate="NAME"></label>
        <input type="text" id="name" class="form-control" ng-model="name" />
    </div>
    <div class="input-group">
        <label for="surname" class="input-group-addon" translate="SURNAME"></label>
        <input id="surname" class="form-control" ng-model="surname" />
    </div>
    <div class="input-group">
        <label for="phone" class="input-group-addon" translate="PHONE"></label>
        <input id="phone" class="form-control" ng-model="phone" />
    </div>
    <div class="input-group">
        <label for="institution" class="input-group-addon" translate="INSTITUTION"></label>
        <input id="institution" class="form-control" ng-model="institution" />
    </div>
</div>