<div class="generalinfo">
    <div class="input-group">
        <label for="name" class="input-group-addon" translate="NAME"></label>
        <input type="text" id="name" class="form-control" ng-model="ctrl.name" />
    </div>
    <div class="input-group">
        <label for="surname" class="input-group-addon" translate="SURNAME"></label>
        <input id="surname" class="form-control" ng-model="ctrl.surname" />
    </div>
    <input type="submit" class="btn btn-default" translate="NEXT_STEP" />
</div>