<div class="generalinfo">
    <div class="input-group">
        <label for="email" translate="EMAIL"></label>
        <input type="email" id="email" ng-model="ctrl.registerInfo.userEmail" />
    </div>
    <div class="input-group">
        <label for="password" translate="PASSWORD"></label>
        <input type="password" id="password" ng-model="ctrl.registerInfo.password" /> 
    </div>
    <div class="input-group">
        <label for="confirmPassword" translate="PASSWORD"></label>
        <input type="confirmPassword" id="confirmPassword" ng-model="ctrl.registerInfo.confirmPassword" /> 
    </div>
    <input type="submit" 
           class="btn btn-default"
           translate="NEXT_STEP" 
           ng-disabled="!(ctrl.registerInfo.password&&ctrl.registerInfo.confirmPassword)&&ctrl.registerInfo.password===ctrl.registerInfo.confirmPassword" 
           ng-click="ctrl.next()"/>
</div>