
@{
    
}
<div ng-app="AdministratorApp">
    <div ui-view>

    </div>
</div>
@section Scripts {
    <script src="~/js/administrator/administrator.module.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}